a>svg{
    fill: #00669F;
    position: relative;
    top: 200px;
}
a button, footer, .titulo{
    background-color: #00669F;
    color: #F3F3F3;
}
article{
    height: 529px;
    width: 200px;
}
article button{
    border: 0px;
    height: 48.52px;
    margin-bottom: 10px;
    width: 128.78px;
}
article>div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
article h2{
    margin-bottom: 0px;
}
article p{
    margin: 16px;
}
.avatar{
    border-radius: 60%;
    width: 40%;
    z-index: 2;
}
.barra{
    display: flex;
    background-color: #001D2D;
    position: relative;
    bottom: 21px;
    justify-content: flex-end;
}
.barra>a{
    color: white;
    margin: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.descuento{
    background-color: #1CD1B0;
    padding: 8px;
    padding-left: 20px;
}
div.descripcion{
    background-color: #F3F3F3;
    position: relative;
    top: -60px;
}
.fondo{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}
footer{
    margin-top: 20px;
    padding: 15px;
}
footer>div{
    text-align: center;
}
h1{
    color: black;
    margin-top: 0;
    padding: 20px;
}
h2{
    text-align: center;
}
p{
    font-size: medium;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
section>section{
    display: flex;
}
.superior{
    position: relative;
    z-index: 1;
}
svg{
    align-self: flex-start;
    fill: red;
    left: 15px;
    position: relative;
    top: 30px;
}

/* Responsive */

@media (max-width: 768px){
    .descuento{
        background-color: #D1891C;
    }
    h1{
        color: white;
    }
    section{
        justify-content: space-evenly;
    }
    footer>div{
        text-align: center;
    }
    .Primero{
        flex-wrap: nowrap;
        gap: 20px;
    }
    article{
        margin: 10px;
    }
}

@media (max-width: 460px){
    h1{
        margin-bottom: 0px;
    }
    section{
        flex-direction: column;
        align-content: space-around;
    }
}